{% extends 'pages/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<section class="py-5 bg-light">
    <div class="container text-center">
        <h1 class="display-4">{{ title }}</h1>
        <p class="lead">
            {{ welcome_text }}
        </p>
        <a href="{% url 'about' %}" class="btn btn-primary btn-lg">Узнать о проекте</a>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-12 col-md-4">
                <div class="card h-100">
                    <img src="https://placehold.co/300x200" class="card-img-top" alt="Книга 1">
                    <div class="card-body">
                        <h5 class="card-title">1984</h5>
                        <p class="card-text">
                            Антиутопия Джорджа Оруэлла для обмена.
                        </p>
                        <a href="{% url 'about' %}" class="btn btn-outline-primary">Подробнее</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="card h-100">
                    <img src="https://placehold.co/300x200" class="card-img-top" alt="Книга 2">
                    <div class="card-body">
                        <h5 class="card-title">Мастер и Маргарита</h5>
                        <p class="card-text">
                            Классика русской литературы в отличном состоянии.
                        </p>
                        <a href="{% url 'about' %}" class="btn btn-outline-primary">Подробнее</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="card h-100">
                    <img src="https://placehold.co/300x200" class="card-img-top" alt="Книга 3">
                    <div class="card-body">
                        <h5 class="card-title">Гарри Поттер</h5>
                        <p class="card-text">
                            Популярная серия книг для подростков и взрослых.
                        </p>
                        <a href="{% url 'about' %}" class="btn btn-outline-primary">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
